.sort-button {
  background-color: white;
  color: #5aa891;
  border-radius: 20px;
  border: 2px solid #5aa891; /* Add a green border */
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.sort-button:hover {
  background-color: #5aa891;
  color: white;
  border-color: #5aa891; /* Ensure border color matches background on hover */
}

.dropdown-item {
  color: #5aa891;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #e8f4f1;
  color: #5aa891;
}
