.sort-button {
  background-color: white;
  color: var(--secondary-blue-color);
  border-radius: 20px;
  border: 2px solid var(--secondary-blue-color);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sort-button:hover {
  background-color: var(--secondary-creme-color);
  color: var(--primary-blue-color);
  border-color: var(--secondary-creme-color);
}

.dropdown-item {
  color: var(--primary-blue-color);
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: var(--secondary-creme-color);
  color: var(--primary-blue-color);
}