.avatar-padding {
    padding-right: 0;
}

.authModal {
    border-radius: 2rem;
}

.authModal-body {
    margin: 0;
    padding: 0;
}

.loginDecoWrapper {
    background-image: url("../../../assets/Decoratives/loginBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-radius: 0 1rem 1rem 0;
}

.signUpDecoWrapper {
    background-image: url("../../../assets/Decoratives/loginBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
}

.border-bottom {
    border-color: var(--color-border-taupe);
    border-width: 1px;
}

.custom-text-color {
    color: var(--color-accent-copper);
}

@media (min-width: 992px) {
    .avatar-padding {
        padding: 0.25rem;
    }
}
