.footerWrapper {
    width: 100%;
    height: auto;
    background-color: var(--secondary-creme-color);
}

.registerSection {
    background-color: var(--primary-blue-color);
    margin: 0.25rem 0rem;

}

.subscribe-heading {
    width: fit-content;
}

.subscribeButton {
    width: fit-content;
}

.subscribeInputContainer {
    width: max-content;
    margin-right: 2rem;
    background-color: #f0eeee;
}

.emailInput {
    width: 25rem;
    border-width: 0.05rem;
}

.subscribeButton {
    background-color: var(--primary-blue-color);
}

.subscribeButton:hover {
    background-color: var(--secondary-blue-color);
    border-color: var(--secondary-blue-color);
}

.footerContents {
    width: fit-content;
}

.footerContents .col {
    width: fit-content;
}

.footerContents ul {
    list-style-type: none;
    padding: 0;
    width: fit-content;
    font-size: smaller;
}

.downloadLinksWrapper {}

.qrWrapper {}


.storeContainer {
    max-width: 7rem;
}

.qrWrapper img {
    max-width: 7rem;
}

.storeContainer img {
    max-width: 7rem;
}

.footerBrandSection {}

.rightsReserved {
    width: fit-content;
}

.footerBrandName {
    width: fit-content;
}

.footerTermsOfService {
    width: fit-content;
}