.cartWrapper {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.5rem 0.7rem;
}

.cartIcon {
    /* Adjust size as needed */
    color: white;
}

.cartBadge {
    position: absolute;
    bottom: -0.2rem;
    /* Adjust to position the badge */
    right: -0.3rem;
    /* Adjust to position the badge */
    background-color: white;
    color: var(--secondary-color);
    /* Use a color variable for easy adjustments */
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* Adjust font size as needed */
    font-weight: bold;
    transition: transform 0.3s ease;
}

/* Animation for cart badge */
@keyframes cartBadgePop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.cartBadge.animate {
    animation: cartBadgePop 0.3s ease;
}