.filter-btn {
    background-color: var(--secondary-blue-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: var(--primary-creme-color);
    color: var(--primary-blue-color);
}