/* src/custom.css */
:root {
  --primary-color: #5C8D89;
  --primary1-color: #112d21;
  --pale-green-color: #6DA28E;
  --secondary-color: #74B49B;
  --tertiary-color: #a7d7c5;
  --tertiary-color-opacque: rgba(179, 230, 211, 0.433);
  --light-color: #F9F8EB;
  --white-color: #FFFFFF;
  --dark-color: #333333;
  /* Add more colors as needed */
}