a {
  text-decoration: none;
  /* Removes the underline */
  color: inherit;
  /* Inherits the text color from the parent element */
}

a:visited {
  color: inherit;
  /* Ensures visited links have the same color */
}

a:hover {
  color: inherit;
  /* Removes hover color change */
  text-decoration: none;
  /* Ensures no underline appears on hover */
}

a:active {
  color: inherit;
  /* Removes color change on active state */
  text-decoration: none;
  /* Ensures no underline on active state */
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.caveat-Heading {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* font-weight: 700; */
}

.primary-color-font {
  color: var(--primary-blue-color)
}

.secondary-color-font {
  color: var(--secondary-blue-color);
}

.tertiary-color-font {
  color: var(--tertiary-blue-color);
}

.pale--color-font {
  color: var(--tertiary-blue-color-opacque);
}

.light-gray {
  color: #667479;
}

.on-hover-pointer {
  cursor: pointer;
}

.button-primary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.button-primary:hover {
  background-color: var(--primary-green-80);
}

body {
  cursor: auto;
}