.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb-text {
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--primary-blue-color) !important;
    font-weight: 700;
}

.breadcrumb-text:hover {
    color: var(--primary-dark) !important;
    font-weight: 800;
}

.breadcrumb-text.active {
    color: var(--primary-blue-color) !important;
    /* Vibrant green */
    font-weight: 700;
}